<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- <suite name="Regression Suite" verbose="2" thread-count="2" parallel="tests"> -->
<suite name="Regression Suite">
	<test name="Regression Test" preserve-order="true">
		<parameter name="browser" value="firefox" />
		<classes>
			<!-- Client tests -->
			<class name="clientTests.LoginTest" />
			<class name="clientTests.RegistrationTest" />
			<class name="clientTests.RequestDesignAndSearchTest" />
			<class name="clientTests.ForgetPasswordTest" />
			<!-- <class name="clientTests.BasicIdentityTest" /> Not finished because 
				of payment list not open -->
			<class name="clientTests.CompetitionsTest" />
			<class name="clientTests.AboutMeTest" />
			<class name="clientTests.CompetitionsListTest" />
			<class name="clientTests.MyPageTest" />
			<class name="clientTests.MessagesTest" />

			<!-- Designer tests -->
			<class name="designerTests.LoginUserTest" />
			<class name="designerTests.RegistrationUserTest" />
			<class name="designerTests.AboutMeUserTest" />
			<class name="designerTests.MyStatsUserTest" />
			<class name="designerTests.BankAccountsUserTest" />
			<!--<class name="designerTests.TransfersRequestsTest" /> Not finished 
				because of popup -->
			<!--<class name="designerTests.MyWorkUserTest"/> Not completed because 
				of menu of design type open twice -->
			<!-- <class name="designerTests.RequestDesignAndSearchDesignerTest"/> 
				Not completed waiting because of list not selected -->
			<class name="designerTests.CompetitionsTest" />
			<class name="designerTests.ForgetPasswordTest" />
			<class
				name="designerTests.FinishedCompetitionsDetailsDesignerTest" />
			<class
				name="designerTests.DeliverFInalWorkCompetitionsDetailsDesignerTest" />
			<class
				name="designerTests.RecieveDesignsCompetitionsDetailsDesignerTest" />

			<class name="designerTests.MessagesUserTest" />

			<!-- Footer pages tests -->
			<class name="footerPagesTests.AskDesignTest" />
			<class name="footerPagesTests.BeDesignerTest" />
			<class name="footerPagesTests.CommonQuesTest" />
			<class name="footerPagesTests.ContactUsTest" />
			<class name="footerPagesTests.DesignsRequestTest" />
			<class name="footerPagesTests.HowItWorkTest" />
			<class name="footerPagesTests.JobsTest" />
			<class name="footerPagesTests.PricesTest" />
			<class name="footerPagesTests.TermsAndConditionsTest" />
			<class name="footerPagesTests.WhoUsTest" />
		</classes>
	</test>

	<!-- <test name=" TestOnChrome "> <parameter name="browser" value="chrome" 
		/> <classes> <class name="clientTests.LoginTest" /> </classes> </test> <test 
		name="TestOnIE"> <parameter name="browser" value="ie" /> <classes> <class 
		name="clientTests.LoginTest" /> </classes> </test> <test name="TestOnFirefox"> 
		<parameter name="browser" value="firefox" /> <classes> <class name="clientTests.LoginTest" 
		/> </classes> </test> -->

</suite> 